body{ margin: 0;
}
.contenedorfoto{
    position: relative;
    display: inline-block;
    margin: 0;
}
.volver{
    position: absolute;
    top:15px;
    color: white;
    margin-left: 25px;
    
}
.fechanoticia{
    position: absolute;
    top:145px;
    color:white;
    padding: 0.5em;
    font-size: 0.9em;
}
.titulonoticia{
    position: absolute;
    top:160px;
    padding: 0.5em;
    color:white;
    font-size: 1.2em;
}
.textonoticia{
    padding: 0.5em;
    margin-top: -0.3em;
}
